{% extends 'layout.html' %}
{% load static %}
{% block title %}Описание{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/logo2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"><b>{{ movie.title }}</b></h4>
            <p class="card-text">
                <a>{{ Movie.title }}<a/>
                <p><b>Режиссёр:</b> {{ movie.director.name }}</p>
                <p><b>Жанр:</b> {{ movie.genre.name }}</p>
                <p><b>Категория:</b> {{ movie.category.name }}</p>
                <p><b>Описание:</b> {{ movie.description }}</p>
                <p><b>Кинотеатр:</b> {{ movie.cinema }}</p>
                <p><b>Стоимость билета:</b> {{ movie.price_ticket }}</p>
                <p><b>Стоимость онлайн трансляции:</b> {{ movie.price }}</p>
            </p>
            <a href="/" class="btn btn-primary">Главная страница</a>
        </div>
    </div>
{% endblock %}
{#{% block content %}#}
{#    <h2>Detail Movie</h2>#}
{#    <a href="/">#}
{#        <button>Главная страница</button>#}
{#    </a>#}
{#    <h5>ID : {{ movie.id }}</h5>#}
{#    <h2>{{ Movie.title }}</h2>#}
{#    <p><b>Режиссёр:</b> {{ movie.director.name }}</p>#}
{#    <p><b>Жанр:</b> {{ movie.genre.name }}</p>#}
{#    <p><b>Категория:</b> {{ movie.category.name }}</p>#}
{#    <p><b>Описание:</b> {{ movie.description }}</p>#}
{#    <p><b>Кинотеатр:</b> {{ movie.cinema }}</p>#}
{#    <p><b>Стоимость билета:</b> {{ movie.price_ticket }}</p>#}
{#    <p><b>Стоимость онлайн трансляции:</b> {{ movie.price }}</p>#}
{#{% endblock %}#}
