<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<h1>Detail Movie</h1>
<a href="/"><button>Главная страница</button></a>
<h5>ID : {{ movie.id }}</h5>
<h2>{{ Movie.title }}</h2>
<p><b>Режиссёр:</b> {{ movie.director.name }}</p>
    <p><b>Жанр:</b> {{ movie.genre.name }}</p>
    <p><b>Категория:</b> {{ movie.category.name }}</p>
    <p><b>Описание:</b> {{ movie.description }}</p>
    <p><b>Кинотеатр:</b> {{ movie.cinema }}</p>
    <p><b>Стоимость билета:</b> {{ movie.price_ticket }}</p>
    <p><b>Стоимость онлайн трансляции:</b> {{ movie.price }}</p>

</body>
</html>