{% extends 'layout.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}

{% block content %}
<h1>Поиск</h1>
<form action="/search/" metod="get">
    <input type="text" placeholder="Введите название фильма" name="search">
    <input type="number" placeholder="Мин. стоимость билета" name="from_price">
    <input type="number" placeholder="Мак. стоимость билета" name="to_price">
    <select name="category_id">
        <option value="">Категория фильмов</option>
        {% for category in categories %}
        <option value="{{ category.id }}">
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Отправить</button>
</form>
{% endblock %}